#content{
    text-align: center;
    padding-top: 20%;
}

body{
    background : url(Startup.jpg) no-repeat center center/cover;
    /* background-size: cover; */
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
}

hr{
    width: 400px ;
}

h1{
    font-size: 5em;
}

.btn{
    color: rgb(132, 0, 255);
}